*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px 0 ;
}
.menu{
    display: flex;
}
.logo{
    display: flex;
}
.logo h1{
    color: #0a66c2;
    font-size: 30px;
    margin-right: 5px;
}
.menu ul{
    display: flex;
    list-style: none;
    text-align: center;
    border-right: 2px solid grey;
    padding: 5px;
    margin-top: 20px;
    
}
.menu a{
    text-decoration: none;
    color: grey;
}
.menu li{
    margin: 0 10px;
}
.joinnow{
    margin-top: 30px;
    
}
.joinnow a{
    font-size: 18px;
    padding: 20px;
}
.signin{
    margin-top: 30px;
}
.signin a{
    font-size: 18px;
    padding: 10px 15px;
    color: #0a66c2;
    border:1px solid #0a66c2;
    border-radius: 40px;
}
.s1{
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
}
.s1input{
    margin-left: 200px;
}
.s1input h1{
    font-size: 50px;
    color: #8f5849;
}
.s1input input{
    height: 50px;
    width: 400px;
    margin: 20px 0;
    font-size: 20px;
}
.s1input p{
    margin-left: 185px;
}
.s1input a{
    text-decoration: none;
    color: black;
}
.submit{
    background-color: #0a66c2;
    color: white;
    border: 2px solid #0a66c2;
    border-radius: 20px;
    font-size: 20px;
}
.s1img img{
    width: 700px;

}
.or1{
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 10px;
    height: 50px;
    width: 400px;
    font-size: 25px;
    text-align: center;
}
.or1 a{
    text-decoration: none;
    color: grey;
}
.s2{
    background-color:rgb(235, 247, 252);
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    margin-top: 70px;
}
.s2h h1{
    font-size: 50px;
    margin-left: 200px;
    margin-top: 50px;

}
.s2m{
    width: 50%;
    margin-top: 40px;
}
.s2l ul{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.cont{
    border: 2px solid black;
    padding: 15px 35px;
    margin: 2px;
    border-radius: 40px;
}
.s2l a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.s2m h3{
    font-size: 20px;
}
#cont {
    border: 2px solid #0a66c2;
    padding: 15px 35px;
    margin: 2px;
    border-radius: 40px;
}
#cont a{
    color: #0a66c2;
}
.s3{
    display: flex;
    justify-content: space-between;
}
.s3h h1{
     font-size: 50px;
    margin-left: 200px;
    margin-top: 50px;

}
.showmore a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.showmore{
    margin-top: 20px;
}
.s4{
    display: flex;
    margin-top: 80px;
    background-color: rgb(252, 234, 236);
}
.s4 h1{
    font-size: 50px;
    margin-left: 200px;
    margin-top: 50px;
}
.job {
    margin: 130px;
}
.job a{
    color: #0a66c2;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid  #0a66c2;
    border-radius: 30px;
    padding: 10px 15px;
}
.s5{
    display: flex;
    height: 100vh;
    background-color: rgb(253, 243, 244);
    align-items: center;
    
}
.s5h{
    width: 40%;
    margin-left: 200px;
    font-size: 17px;
}
.s5img img{
    height: 450px;
    width: 450px;
    position: relative;
}
.up5{
    color: #8f5849;
}
.s6{
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 200px;
}
.s6 img{
    height: 300px;
    width: 300px;
}
.s6 h1{
    font-size: 50px;
}
.s6r{
    margin-left: 200px;
}
.find{
margin-top: 50px;
}
.find a{
    text-decoration: none;
    color: black;
    font-size: 20px;border: 2px solid black;
    padding: 15px 15px;
    margin-top: 40px;
    border-radius: 40px;
    text-align: center;
}
.choose{
    margin-top: 50px;
}
.choose a{
    text-decoration: none;
    color: black;
    font-size: 20px;border: 2px solid black;
    padding: 15px 50px;
    margin-top: 40px;
    text-align: center;
}
.s7{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    
}
.s7r{
    background-color: #dbeafa;
    width:70%;
    margin-left: 550px;
    height: 100vh;
    
}
.s7video iframe{

    position: absolute;
    left: 200px;
    bottom: 200px;
}

.s7h h3{
    color: rgb(224, 85, 85);
    font-size: 35px;
    margin-top: 320px;
    margin-left: 200px;
}
.bottom{
    margin-top: 100px;
    background: url(bottom-bg.png) scroll no-repeat center /cover;
    height: 100vh
}
.bottom h1{
    font-size: 50px;
    margin-left: 200px;
}
.getstarted{
    margin-top: 50px;
    margin-left: 200px;
}

.getstarted a{
    background-color: #0a66c2;
    color: white;
    text-decoration:none;
    font-size: 20px ;
    padding: 10px 15px;
    border-radius: 30px;
}
.footer{
    display: flex;
    background-color: #c5def6;
}
.fl{
    display: flex;
    margin-left: 200px;
}
.fl h3{
    margin-top: 5px;

}
.flist{
    margin:50px 80px;
}
.flist h4{
    margin-bottom: 15px;
}
.fl{
    margin-top: 40px;
}
.flist li{
    list-style: none;
}
.flist li a{
    text-decoration: none;
    color: black;
    margin: 10px 0;
}





